:root {
  --sl-color-accent-low: #3a2a10;
  --sl-color-accent: #ecc275;
  --sl-color-accent-high: #f7e3bd;
}
:root[data-theme="light"] {
  --sl-color-accent-low: #f7e9cf;
  --sl-color-accent: #a3701a;
  --sl-color-accent-high: #4a3208;
}

.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) > a {
  color: inherit;
  text-decoration: none;
}
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6) > a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
