:root {
  --sl-color-accent-low: #3a2a10;
  --sl-color-accent: #ecc275;
  --sl-color-accent-high: #f7e3bd;
}
:root[data-theme="light"] {
  --sl-color-accent-low: #f7e9cf;
  --sl-color-accent: #a3701a;
  --sl-color-accent-high: #4a3208;
}
